<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>次级域名分发系统</title>
	<link rel="stylesheet" id="easyuiTheme" href="jquery-easyui-1.9.14/themes/default/easyui.css" />
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/icon.css" />
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.min.js" th:inline="none"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.easyui.min.js" th:inline="none"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/locale/easyui-lang-zh_CN.js" th:inline="none"></script>
	<script type='text/javascript' src='bug-min.js'></script>
	<script type='text/javascript' src='changeEasyuiTheme.js'></script>
</head>
<body class="easyui-layout" data-options="fit:true">
<a href="https://github.com/vanyouseea/szd"><img width="128" height="128" src="/forkme2.png" alt="Fork me on GitHub" data-recalc-dims="1" style="position: absolute; top: 0;z-index: 999999;right: 0"></a>
	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;">
		<h3><img src="logo.svg" /></h3> 
	</div>
	<div data-options="region:'west',split:true,title:'管理'" style="width:260px;padding:2px;">
		<div id="aa" class="easyui-accordion" style="width:100%;height:220px;">
		    <div title="我的"  style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('可用域名')">可用域名</div></li>
					<li><div onclick="addPanel('我的子域')">我的子域</div></li>
				</ul>
		    </div>		    
		</div>
	</div>
	<div data-options="region:'south',border:false" style="height:25px;background:#A9FACD" ><div style="float:left">Powered by hqr - Szd <a href=javascript:showVersionInfo()>v1.0.0</a></div> 
		<div style="float:right">主题选择 <select id="themeCb" class="easyui-combobox" style="width:120px;height:25px" data-options="editable:false,onChange: onchangeThemeFun" >
					<option value="default">默认</option>
				    <option value="gray">灰色</option>
				    <option value="black">黑色</option>
				    <option value="material-blue">原色</option>
				    <option value="metro-blue">Metro蓝</option>
				    <option value="metro-gray">Metro灰</option>
				    <option value="metro-green">Metro绿</option>
				    <option value="metro-orange">Metro橙</option>
				    <option value="metro-red">Metro红</option>
				    <option value="ui-cupertino">Cupertino</option>
				    <option value="ui-pepper-grinder">PepperGrinder</option>
				    <option value="ui-sunny">Sunny</option>
				</select>
				</div>
	</div>
	<div id="acc" class="easyui-tabs" data-options="region:'center'">
		<div title="首页" style="padding:10px">
			<h2>欢迎来到次级域名分发系统，你可以用它来创建属于你自己的次级域名</h2>
			<ul style="font-size: 15px">
				<li><b>可持有子域数/最大子域数:</b> <span id="curSubDomain2" style="color: red">1</span>/<span id="maxSubDomain2" style="color: green">3</span>
				<a href=javascript:getSubDomainInfo2()><img src="jquery-easyui-1.9.14/themes/icons/reload2.png"/></a></li>
				<li>[我的]-><a href=javascript:addPanel("可用域名")>可用域名</a>页中可以查看管理员分享的域名,你可以创建属于你自己的次级域名</li>
				<li>[我的]-><a href=javascript:addPanel("我的子域")>我的子域</a>页中可以查看，修改和删除你所持有的次级域名</li>
				<li>如果你有任何意见和建议，欢迎给我提<a href="https://github.com/vanyouseea/szd/issues/new">issue</a></li>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript">
		new BugController({'minBugs':1, 'maxBugs':1, 'mouseOver':'fly'});
		
		
		
		function addPanel(name){
			tab = $('#acc').tabs('getTab',name);
			if(tab==null){
				if(name=='可用域名'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/sharedomain.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='我的子域'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/mydomain.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
			}
			else{
				$('#acc').tabs('select',name);
			}
		}
		
		function onchangeThemeFun(){
			var theme = $('#themeCb').combobox('getValue');
			changeThemeFun(theme);
		}
		
		function showVersionInfo(){
			$.messager.alert('版本信息', '最初的版本' ,'');
		}
		
		function getSubDomainInfo2(){
			$.ajax({
			    type : "POST", 
			    url : "/getSubDomainInfo",
			    success : function(res) {
			    	var strs = res.split("|");
			    	var curSubDomain2 = strs[0];
			    	var maxSubDomain2 = strs[1];
			    	$('#curSubDomain2').text(curSubDomain2);
			    	$('#maxSubDomain2').text(maxSubDomain2);
				},
				error : function(){
			    	$('#curSubDomain2').text("NA");
			    	$('#maxSubDomain2').text("NA"); 	
				}							
			});
		}
		$.ajax({
		    type : "POST", 
		    url : "/getSubDomainInfo",
		    success : function(res) {
		    	var strs = res.split("|");
		    	var curSubDomain2 = strs[0];
		    	var maxSubDomain2 = strs[1];
		    	$('#curSubDomain2').text(curSubDomain2);
		    	$('#maxSubDomain2').text(maxSubDomain2);
			},
			error : function(){
		    	$('#curSubDomain2').text("NA");
		    	$('#maxSubDomain2').text("NA"); 	
			}							
		});
		
	</script>
</body>
</html>
