<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>次级域名分发系统</title>
	<link rel="stylesheet" id="easyuiTheme" href="jquery-easyui-1.9.14/themes/default/easyui.css" />
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/icon.css" />
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.min.js" th:inline="none"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.easyui.min.js" th:inline="none"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/locale/easyui-lang-zh_CN.js" th:inline="none"></script>
	<script type='text/javascript' src='bug-min.js'></script>
	<script type='text/javascript' src='changeEasyuiTheme.js'></script>
</head>
<body class="easyui-layout" data-options="fit:true">
<a href="https://github.com/vanyouseea/szd"><img width="128" height="128" src="/forkme2.png" alt="Fork me on GitHub" data-recalc-dims="1" style="position: absolute; top: 0;z-index: 999999;right: 0"></a>
	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;">
		<h3><img src="logo.svg" /></h3> 
	</div>
	<div data-options="region:'west',split:true,title:'管理'" style="width:260px;padding:2px;">
		<div id="aa" class="easyui-accordion" style="width:100%;height:220px;">
		    <div title="我的"  style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('可用域名')">可用域名</div></li>
					<li><div onclick="addPanel('我的子域')">我的子域</div></li>
				</ul>
		    </div>		    
		    <div title="用户"  style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('管理用户')">管理用户</div></li>
					<li><div onclick="addPanel('管理用户域名')">管理用户域名</div></li>
					<li><div onclick="addPanel('邀请注册')">邀请注册</div></li>
				</ul>
		    </div>
		    <div title="配置" style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('域名管理')">域名管理</div></li>
					<li><div onclick="addPanel('系统配置')">系统配置</div></li>
				</ul>
		    </div>
		</div>
	</div>
	<div data-options="region:'south',border:false" style="height:25px;background:#A9FACD" ><div style="float:left">Powered by hqr - Szd <a href=javascript:showVersionInfo()>v1.0.0</a></div> 
		<div style="float:right">主题选择 <select id="themeCb" class="easyui-combobox" style="width:120px;height:25px" data-options="editable:false,onChange: onchangeThemeFun" >
					<option value="default">默认</option>
				    <option value="gray">灰色</option>
				    <option value="black">黑色</option>
				    <option value="material-blue">原色</option>
				    <option value="metro-blue">Metro蓝</option>
				    <option value="metro-gray">Metro灰</option>
				    <option value="metro-green">Metro绿</option>
				    <option value="metro-orange">Metro橙</option>
				    <option value="metro-red">Metro红</option>
				    <option value="ui-cupertino">Cupertino</option>
				    <option value="ui-pepper-grinder">PepperGrinder</option>
				    <option value="ui-sunny">Sunny</option>
				</select>
				</div>
	</div>
	<div id="acc" class="easyui-tabs" data-options="region:'center'">
		<div title="首页" style="padding:10px">
			<h2>欢迎来到次级域名分发系统，你可以方便的使用他来分享你的域名给其他的注册用户</h2>
			<ul style="font-size: 15px">
				<li><b>子域数:</b> <span id="curSubDomain1" style="color: red">0</span>/<span id="maxSubDomain1" style="color: green">10</span>
				<a href=javascript:getSubDomainInfo1()><img src="jquery-easyui-1.9.14/themes/icons/reload2.png"/></a></li>
				<li>如果您是<font color="red">首次使用</font>，请先前往[配置]-><a href=javascript:addPanel("系统配置")>系统配置</a>配置你的CF邮箱(CF_AUTH_EMAIL)和个人资料中的api-token(CF_AUTH_KEY)</li>
				<li>此步可选，不过为了管理员账号的安全，我们强烈建议您前往 [配置]-><a href=javascript:addPanel("系统配置")>系统配置</a>页中配置好以下6个变量，请参考 <a href="https://github.com/vanyouseea/o365/raw/master/docs/%E9%85%8D%E7%BD%AE%E5%BE%AE%E4%BF%A1%E5%93%8D%E5%BA%94.docx">此文档</a>
				<br>WX_CALLBACK_IND<br>WX_CALLBACK_TOKEN<br>WX_CORPID<br>WX_CORPSECRET<br>WX_AGENTID<br>WX_CALLBACK_AESKEY
				</li>
				<li>[配置]-><a href=javascript:addPanel("域名管理")>域名管理</a>页中，点击按钮从CF拉取，可以获取到所有在CF的域名/子域名，你可以只留下需要共享的域名/子域名，选中需要分享的域名域名/子域名点击分享/取消即可分享/取消域名/子域名<br>
				PS: <font color="red">从CF拉取可能会花一些时间，请耐心等待</font></li>
				<li>当管理员分享了域名后，用户就可以在[我的]-><a href=javascript:addPanel("可用域名")>可用域名</a>页中发现被分享的域名，用户就可以基于此域名创建次级域名</li>
				<li>[我的]-><a href=javascript:addPanel("我的子域")>我的子域</a>页中可以找到用户创建的次级域名</li>
				<li>[用户]-><a href=javascript:addPanel("管理用户")>管理用户</a>页中可以管理所有的用户</li>
				<li>[用户]-><a href=javascript:addPanel("管理用户域名")>管理用户域名</a>页中可以管理所有的用户子域信息</li>
				<li>[用户]-><a href=javascript:addPanel("邀请注册")>邀请注册</a>页中可以创建邀请码，邀请用户通过<a href="/refer.html" target="_blank">此连接</a>注册次级域名分发系统</li>
				<li>如果你有任何意见和建议，欢迎给我提<a href="https://github.com/vanyouseea/szd/issues/new">issue</a></li>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript"  >
		new BugController({'minBugs':1, 'maxBugs':1, 'mouseOver':'fly'});
		
		function addPanel(name){
			tab = $('#acc').tabs('getTab',name);
			if(tab==null){
				if(name=='管理用户'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/user.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='邀请注册'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/invite.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='管理用户域名'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/userdomain.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}				
				else if(name=='系统配置'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/system.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='域名管理'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/domain.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='可用域名'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/sharedomain.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='我的子域'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/mydomain.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
			}
			else{
				$('#acc').tabs('select',name);
			}
		}
		
		function onchangeThemeFun(){
			var theme = $('#themeCb').combobox('getValue');
			changeThemeFun(theme);
		}
		
		function showVersionInfo(){
			$.messager.alert('版本信息', '最初的版本' ,'');
		}
		
		function getSubDomainInfo1(){
			$.ajax({
			    type : "POST", 
			    url : "/getSubDomainInfo",
			    success : function(res) {
			    	var strs = res.split("|");
			    	var curSubDomain1 = strs[0];
			    	var maxSubDomain1 = strs[1];
			    	$('#curSubDomain1').text(curSubDomain1);
			    	$('#maxSubDomain1').text(maxSubDomain1);
				},
				error : function(){
			    	$('#curSubDomain1').text("NA");
			    	$('#maxSubDomain1').text("NA"); 	
				}							
			});
		}
		$.ajax({
		    type : "POST", 
		    url : "/getSubDomainInfo",
		    success : function(res) {
		    	var strs = res.split("|");
		    	var curSubDomain1 = strs[0];
		    	var maxSubDomain1 = strs[1];
		    	$('#curSubDomain1').text(curSubDomain1);
		    	$('#maxSubDomain1').text(maxSubDomain1);
			},
			error : function(){
		    	$('#curSubDomain1').text("NA");
		    	$('#maxSubDomain1').text("NA"); 	
			}							
		});
	</script>
</body>
</html>
