<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Client Side Pagination in DataGrid - jQuery EasyUI Demo</title>

</head>
<body>
	<div id="tb1" ></div>
	<div id="dlg8" class="easyui-dialog" title="编辑DNS记录" style="padding:10px" data-options="iconCls: 'icon-massadd',modal : true,closed : true,width: 400,height: 300,cache: false">
		<table style="padding:10px">
			<tr>
				<td >子域前缀：</td>
				<td><input id="prefix1" class="easyui-textbox"  data-options="required:true" style="width: 245px" ></td>
			</tr>
			<tr>
				<td >类型：</td>
				<td><input class="easyui-textbox" id="type1" value="A" data-options="required:true,disabled:true" style="width: 245px" ></td>
			</tr>
			<tr>
				<td >当前域名：</td>
				<td><input id="curDomain1" class="easyui-textbox" data-options="required:true,disabled:true" style="width: 245px" ></td>
			</tr>
			<tr>
				<td >IP地址：</td>
				<td><input id="ip1" class="easyui-textbox" data-options="required:true" style="width: 245px" ></td>
			</tr>
			<tr>
				<td>CF代理：</td>
				<td><input class="easyui-checkbox" id="proxied1" name="proxied1" ></td>
			</tr>
			<tr><td colspan="2"></td></tr>
			<tr>
				<td colspan="2" align="right">
					<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitDns2()" style="width:80px">确认</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" onclick="closeTab2()" style="width:80px">取消</a>
				</td>
			</tr>
		</table>
	</div>
	
	<script type1="text/javascript" th:inline="none">
		var row;
		$('#tb1').datagrid({
			border:false,
			fit:true,
			striped:true,
			rownumbers : true,
			//singleSelect:true,
			autoRowHeight:false,
			pagination:true,
			pageSize : 100,
			pageList : [100,200,500],
			remoteSort: false,
			url:'/getUserDomains',
			method:'post',
			toolbar: [{
				text:'编辑',
				iconCls:'icon-edit',
				handler:function(){
					row = $('#tb1').datagrid('getSelections');
					if(row!=null&&row.length==1){
						$('#prefix1').textbox('setText',row[0].prefix);
						$('#type1').textbox('setText',row[0].type);
						$('#ip1').textbox('setText',row[0].ip);
						$('#curDomain1').textbox('setText',row[0].curDomain);
						if(row[0].proxied==0){
							$('#proxied1').checkbox({
								checked:false
							});
						}
						else{
							$('#proxied1').checkbox({
								checked:true
							});
						}
						$('#dlg8').dialog('open');
					}
					else{
						$.messager.show({
							title:'错误',
							msg:'请选择一行',
							timeout:2000,
							showType:'slide'
						});
					}
				}
			},{
				text:'删除',
				iconCls:'icon-remove',
				handler:function(){
					row = $('#tb1').datagrid('getSelections');
					if(row!=null&&row.length>0){
						var seqNos = '';
						for(var rr of row){
							seqNos = seqNos + rr.seqNo + ',';
						}
						$.messager.confirm('删除解析', '将删除'+row.length+'条解析，删除本地记录的同时也会删除CF对应的解析同时用户的子域数量相应减少，你确定吗', function(r){
							if (r){
						       	$.messager.show({
									title:'提示',
									msg: '删除请求已提交，请稍等',
									timeout:3000,
									showType:'slide'
								}); 
								$.ajax({
								    type1 : "POST", 
								    url : "/deleteUserDnsRecords",
								    data : { "seqNos": seqNos },
								    success : function(res) {
								    	if(res==''){
									       	$.messager.show({
												title:'删除解析',
												msg: '删除成功已完成',
												timeout:3000,
												showType:'slide'
											}); 
									       	$('#tb1').datagrid('reload');
								    	}
								    	else{
									       	$.messager.show({
												title:'删除解析',
												msg: '删除失败'+res,
												timeout:3000,
												showType:'slide'
											}); 
								    	}
								    },
									error : function(e){
								       	$.messager.show({
											title:'删除用户',
											msg:'删除用户失败，这可能是由于服务器出现问题引起的 '+e,
											timeout:2000,
											showType:'slide'
										}); 
									}
								});
							}
						});
						row = null;
					}
					else{
						$.messager.show({
							title:'错误',
							msg:'请至少选择一行',
							timeout:2000,
							showType:'slide'
						});
					}
				}
			},{
				text:'刷新',
				iconCls:'icon-reload',
				handler:function(){
					$('#tb1').datagrid('reload');
				}
			},'-',{
				text:'帮助',
				iconCls:'icon-help',
				handler:function(){
					$.messager.alert('帮助','<b>1.</b>删除本地记录的同时也会同时删除对应CF的解析<br>'+
							'<b>2.</b>删除用户解析时用户所持有子域数<font color="green">会减少</font>','');
				}
			}],
			columns : [[
				{field : 'ck',title : '选中',align : 'center',checkbox: true}, 
				{field : 'seqNo',title : '编号',align : 'center',sortable:true},
				{field : 'userSeqNo',title : '用户编号',align : 'center',sortable:true},
				{field : 'domainSeqNo',title : '域名编号',align : 'center',sortable:true},
				{field : 'type',title : '类型',align : 'center',sortable:true},
				{field : 'prefix',title : '前缀',align : 'center',sortable:true},
				{field : 'ip',title : 'IP',align : 'center',sortable:true},
				{field : 'proxied',title : '代理',align : 'center',sortable:true,
					formatter: function(value,row,index){
						if(value==0){
							return "否";
						}
						else{
							return "是";
						}
					}	
				},
				{field : 'curDomain',title : '域名',align : 'center',sortable:true},
				{field : 'createDt',title : '创建时间',align : 'center',sortable:true,
					formatter: function(value,row,index){
						if(value==null||value==''){
							return '';
						}
						else{
							var date = new Date(value);
							// 格式化日期
							dateTime = date.toLocaleString();
							return dateFormat("YYYY-mm-dd HH:MM:SS", date);
						}
					}	
				}
			]],
            onLoadError: function (data){
            	console.log(data);
            	$.messager.alert('错误', data.responseText ,'error');
				$('#tb1').datagrid('loadData',{'total':0,'rows':[]});
            }
		});
		
		function submitDns2(){
			var prefix1 = $('#prefix1').textbox('getText');
			var type1 = $('#type1').textbox('getText');
			var ip1 = $('#ip1').textbox('getText');
			var proxied1 = false;
			$('input:checkbox[name=proxied1]:checked').each(function(i){
				//if found, then checked
				proxied1 = true;
			});
			console.log(prefix1+"|"+ip1+"|"+proxied1+"|"+row[0].seqNo);
			if (prefix1 == '' || ip1 == ''  ){
				$.messager.alert('缺少参数','请填写所有的必须项','error'); 
				return;
			}
			$.ajax({
				type1 : 'POST', 
				url : '/updateUserDnsRecords',
				data : { 'seqNo': row[0].seqNo , 'prefix': prefix1 , 'type' : type1, 'ip' : ip1, 'proxied': proxied1 },
				success : function(res) {
					if(res==''){
						$.messager.show({
							title:'成功',
							msg:'DNS记录已修改',
							timeout:3000,
							showType:'slide'
						});
					}
					else{
						$.messager.show({
							title:'失败',
							msg:res,
							timeout:3000,
							showType:'slide'
						});
					}
					$('#tb1').datagrid('reload');
				},
				error : function(){
			       	$.messager.show({
						title:'失败',
						msg:'更新失败，请重试',
						timeout:2000,
						showType:'slide'
					}); 
				}
			});
			row = null;
			$('#dlg8').dialog('close');
		}
		
		function closeTab2(){
			$('#dlg8').dialog('close');
		}
		
		function dateFormat(fmt, date) {
		    let ret;
		    const opt = {
		        "Y+": date.getFullYear().toString(),        // 年
		        "m+": (date.getMonth() + 1).toString(),     // 月
		        "d+": date.getDate().toString(),            // 日
		        "H+": date.getHours().toString(),           // 时
		        "M+": date.getMinutes().toString(),         // 分
		        "S+": date.getSeconds().toString()          // 秒
		        // 有其他格式化字符需求可以继续添加，必须转化成字符串
		    };
		    for (let k in opt) {
		        ret = new RegExp("(" + k + ")").exec(fmt);
		        if (ret) {
		            fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
		        };
		    };
		    return fmt;
		}
		
	</script>
</body>
</html>
